body {
    margin: 0;
}

.minesweeper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.minesweeper__reset {
    font-size: 16px;
    padding: 5px 20px;
    margin-bottom: 10px;
    cursor: pointer;
}

.minesweeper__lose {
    color: #FF0000;
    font-size: 20px;
    margin: 0 0 10px;
}

.minesweeper__win {
    color: #006400;
    font-size: 20px;
    margin: 0 0 10px;
}

.minesweeper__board {
    border-top: 2px solid #888;
    border-left: 2px solid #888;
    border-bottom: 2px solid #FFF;
    border-right: 2px solid #FFF;
}

.minesweeper__row {
    display: flex;
}

.minesweeper__cell {
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #CCC;
    border-top: 1px solid #FFF;
    border-left: 1px solid #FFF;
    border-bottom: 1px solid #888;
    border-right: 1px solid #888;
}

.minesweeper__cell--open {
    background: #FFF;
}

.minesweeper__cell--mine {
    background-color: #FF0000;
}

.minesweeper__cell--mine svg {
    fill: #000;
    width: 20px;
    height: 20px;
}
